<p>Hey {{ name }},</p>
<p>
  There was a request to change your password!
  <br>
  Your new password: {{ password }}
</p>
<p>If you did not make this request then please ignore this email.</p>
<p>
  Otherwise, please click this link to change your password:
  <br>
  <a href="{{ url }}">Link</a>
</p>

